In [2]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import pandas as pd

In [4]:
# load dataset

data = pd.read_csv('dataset/Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
# here we need to calculate the salary , estimated salary is my target
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [8]:
# convert gender category into numerical values
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [9]:
# onehot encoder
label_encoder_geo = OneHotEncoder()
geo_encoded = label_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
# data = pd.concat([data.reset_index(drop=True), geo_encoded_df], axis=1)
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [ ]:
# saving the label encoder files as pickle file
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('label_encoder_geo.pkl', 'wb') as file:
    pickle.dump(label_encoder_geo, file)

In [11]:
# split x and y 
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [12]:
X.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 12 columns]

In [13]:
y.head()

0    101348.88
1    112542.58
2    113931.57
3     93826.63
4     79084.10
Name: EstimatedSalary, dtype: float64

In [14]:
# split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# scale data 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
scaler.feature_names_in_

array(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
with open('scaler_salary_reg.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [40]:
# ann regression problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import keras

In [52]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # if we didnt add the activation function, it would be linear
])

# model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [54]:
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=opt,loss='mean_absolute_error',metrics=['mae'])

In [55]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 64)                832

 dense_16 (Dense)            (None, 32)                2080

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
# set up tensorboard
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [57]:
# setup early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=50, restore_best_weights=True)

In [58]:
# train the model
history = model.fit(
    X_train, y_train, 
    epochs=100, 
    validation_data=(X_test, y_test),
    callbacks=[tensorboard_callback, early_stopping_callback],
    )

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 100367.2734 - mae: 100367.2734 - val_loss: 98480.3516 - val_mae: 98480.3516
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99500.7188 - mae: 99500.7188 - val_loss: 96742.1953 - val_mae: 96742.1953
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96484.9141 - mae: 96484.9141 - val_loss: 92365.5859 - val_mae: 92365.5859
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 90638.8984 - mae: 90638.8984 - val_loss: 85160.7031 - val_mae: 85160.7031
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 82250.6562 - mae: 82250.6562 - val_loss: 76134.5156 - val_mae: 76134.5156
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 72739.3047 - mae: 72739.3047 - val_loss: 67138.0859 - val_mae: 67138.0859
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 63966.5391 - mae: 63966.5391 - val_loss: 59720.5625 - val_mae: 59720.5625
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 57416.9414 - mae: 57416.9414 - val_loss: 54850.6211 - val_mae: 54850.6211
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 53592.9648 - mae: 53592.9648 - val_loss: 52302.9414 - val_mae: 52302.9414
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 51692.0703 - mae: 51692.0703 - val_loss: 51256.7773 - val_mae: 51256.7773
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50950.5273 - mae: 50950.5273 - val_loss: 50940.4297 - val_mae: 50940.4297
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50671.7617 - mae: 50671.7617 - val_loss: 50834.7617 - val_mae: 50834.7617
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50528.4688 - mae: 50528.4688 - val_loss: 50775.1562 - val_mae: 50775.1562
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50429.0195 - mae: 50429.0195 - val_loss: 50710.0781 - val_mae: 50710.0781
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50345.9648 - mae: 50345.9648 - val_loss: 50669.4102 - val_mae: 50669.4102
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50282.4375 - mae: 50282.4375 - val_loss: 50625.5938 - val_mae: 50625.5938
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50225.0508 - mae: 50225.0508 - val_loss: 50577.1250 - val_mae: 50577.1250
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50174.1797 - mae: 50174.1797 - val_loss: 50537.8906 - val_mae: 50537.8906
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50126.1992 - mae: 50126.1992 - val_loss: 50497.7695 - val_mae: 50497.7695
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50084.8438 - mae: 50084.8438 - val_loss: 50476.6719 - val_mae: 50476.6719
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 50046.5391 - mae: 50046.5391 - val_loss: 50439.4023 - val_mae: 50439.4023
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 50009.8555 - mae: 50009.8555 - val_loss: 50406.1172 - val_mae: 50406.1172
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49973.7695 - mae: 49973.7695 - val_loss: 50386.9023 - val_mae: 50386.9023
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49941.4688 - mae: 49941.4688 - val_loss: 50368.1992 - val_mae: 50368.1992
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49913.9844 - mae: 49913.9844 - val_loss: 50355.4336 - val_mae: 50355.4336
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49889.3828 - mae: 49889.3828 - val_loss: 50332.5859 - val_mae: 50332.5859
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49858.4727 - mae: 49858.4727 - val_loss: 50309.5391 - val_mae: 50309.5391
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49835.9922 - mae: 49835.9922 - val_loss: 50295.6602 - val_mae: 50295.6602
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49815.7461 - mae: 49815.7461 - val_loss: 50288.8906 - val_mae: 50288.8906
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49795.1914 - mae: 49795.1914 - val_loss: 50275.5664 - val_mae: 50275.5664
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49773.9883 - mae: 49773.9883 - val_loss: 50263.2578 - val_mae: 50263.2578
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49753.7773 - mae: 49753.7773 - val_loss: 50251.9375 - val_mae: 50251.9375
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49739.2109 - mae: 49739.2109 - val_loss: 50243.4219 - val_mae: 50243.4219
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49720.4219 - mae: 49720.4219 - val_loss: 50233.4414 - val_mae: 50233.4414
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49703.4609 - mae: 49703.4609 - val_loss: 50236.9531 - val_mae: 50236.9531
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49694.0898 - mae: 49694.0898 - val_loss: 50229.6641 - val_mae: 50229.6641
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49675.7578 - mae: 49675.7578 - val_loss: 50230.6797 - val_mae: 50230.6797
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49664.0781 - mae: 49664.0781 - val_loss: 50230.0625 - val_mae: 50230.0625
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49649.3320 - mae: 49649.3320 - val_loss: 50234.7148 - val_mae: 50234.7148
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49636.5000 - mae: 49636.5000 - val_loss: 50228.7422 - val_mae: 50228.7422
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49624.6055 - mae: 49624.6055 - val_loss: 50223.4883 - val_mae: 50223.4883
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49616.9414 - mae: 49616.9414 - val_loss: 50227.5117 - val_mae: 50227.5117
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49603.6562 - mae: 49603.6562 - val_loss: 50228.1406 - val_mae: 50228.1406
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49594.0938 - mae: 49594.0938 - val_loss: 50226.0898 - val_mae: 50226.0898
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49583.3203 - mae: 49583.3203 - val_loss: 50220.5273 - val_mae: 50220.5273
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49574.9922 - mae: 49574.9922 - val_loss: 50224.4648 - val_mae: 50224.4648
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49564.3789 - mae: 49564.3789 - val_loss: 50224.7266 - val_mae: 50224.7266
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49553.8359 - mae: 49553.8359 - val_loss: 50223.7539 - val_mae: 50223.7539
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49544.2070 - mae: 49544.2070 - val_loss: 50224.4297 - val_mae: 50224.4297
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49535.4492 - mae: 49535.4492 - val_loss: 50224.4648 - val_mae: 50224.4648
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49526.7852 - mae: 49526.7852 - val_loss: 50218.0352 - val_mae: 50218.0352
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49519.0312 - mae: 49519.0312 - val_loss: 50221.5898 - val_mae: 50221.5898
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49509.6602 - mae: 49509.6602 - val_loss: 50219.1680 - val_mae: 50219.1680
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49501.6172 - mae: 49501.6172 - val_loss: 50218.5039 - val_mae: 50218.5039
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49493.7422 - mae: 49493.7422 - val_loss: 50225.7539 - val_mae: 50225.7539
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49485.0859 - mae: 49485.0859 - val_loss: 50229.9531 - val_mae: 50229.9531
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49478.9883 - mae: 49478.9883 - val_loss: 50229.3672 - val_mae: 50229.3672
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49470.4102 - mae: 49470.4102 - val_loss: 50234.9805 - val_mae: 50234.9805
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49463.8633 - mae: 49463.8633 - val_loss: 50241.1758 - val_mae: 50241.1758
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49460.4531 - mae: 49460.4531 - val_loss: 50247.9297 - val_mae: 50247.9297
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49451.7070 - mae: 49451.7070 - val_loss: 50248.0312 - val_mae: 50248.0312
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49443.3047 - mae: 49443.3047 - val_loss: 50248.5078 - val_mae: 50248.5078
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49441.9766 - mae: 49441.9766 - val_loss: 50250.3516 - val_mae: 50250.3516
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 49430.0703 - mae: 49430.0703 - val_loss: 50262.5781 - val_mae: 50262.5781
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 49426.7227 - mae: 49426.7227 - val_loss: 50255.6602 - val_mae: 50255.6602
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 49420.3516 - mae: 49420.3516 - val_loss: 50268.4102 - val_mae: 50268.4102
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 49417.7539 - mae: 49417.7539 - val_loss: 50266.7930 - val_mae: 50266.7930
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 49412.0547 - mae: 49412.0547 - val_loss: 50257.2734 - val_mae: 50257.2734
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 49404.5898 - mae: 49404.5898 - val_loss: 50259.5234 - val_mae: 50259.5234
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 49399.4375 - mae: 49399.4375 - val_loss: 50268.8867 - val_mae: 50268.8867
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 49396.6953 - mae: 49396.6953 - val_loss: 50273.4297 - val_mae: 50273.4297
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 49389.5625 - mae: 49389.5625 - val_loss: 50276.9766 - val_mae: 50276.9766
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 49385.1289 - mae: 49385.1289 - val_loss: 50284.8164 - val_mae: 50284.8164
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 49382.4297 - mae: 49382.4297 - val_loss: 50277.2031 - val_mae: 50277.2031
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 49376.6602 - mae: 49376.6602 - val_loss: 50282.5195 - val_mae: 50282.5195
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 49375.6133 - mae: 49375.6133 - val_loss: 50284.4648 - val_mae: 50284.4648
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 49367.8438 - mae: 49367.8438 - val_loss: 50293.4375 - val_mae: 50293.4375
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 49364.3672 - mae: 49364.3672 - val_loss: 50291.7891 - val_mae: 50291.7891
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 49358.5352 - mae: 49358.5352 - val_loss: 50289.4414 - val_mae: 50289.4414
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 49356.5000 - mae: 49356.5000 - val_loss: 50298.1484 - val_mae: 50298.1484
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 49349.4375 - mae: 49349.4375 - val_loss: 50299.8320 - val_mae: 50299.8320
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 49346.1797 - mae: 49346.1797 - val_loss: 50292.6523 - val_mae: 50292.6523
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 49344.3672 - mae: 49344.3672 - val_loss: 50307.5781 - val_mae: 50307.5781
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 49340.8711 - mae: 49340.8711 - val_loss: 50309.5430 - val_mae: 50309.5430
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 49336.5391 - mae: 49336.5391 - val_loss: 50319.6211 - val_mae: 50319.6211
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 49332.2227 - mae: 49332.2227 - val_loss: 50313.4805 - val_mae: 50313.4805
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 49330.1172 - mae: 49330.1172 - val_loss: 50312.1406 - val_mae: 50312.1406
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 49327.3203 - mae: 49327.3203 - val_loss: 50312.5742 - val_mae: 50312.5742
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 49322.8203 - mae: 49322.8203 - val_loss: 50313.0000 - val_mae: 50313.0000
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 49319.6719 - mae: 49319.6719 - val_loss: 50319.8008 - val_mae: 50319.8008
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 49316.1367 - mae: 49316.1367 - val_loss: 50326.1523 - val_mae: 50326.1523
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 49317.6133 - mae: 49317.6133 - val_loss: 50327.4922 - val_mae: 50327.4922
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 49312.7891 - mae: 49312.7891 - val_loss: 50315.5781 - val_mae: 50315.5781
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 49306.8945 - mae: 49306.8945 - val_loss: 50335.6523 - val_mae: 50335.6523
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 49305.7539 - mae: 49305.7539 - val_loss: 50331.8516 - val_mae: 50331.8516
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 49302.9688 - mae: 49302.9688 - val_loss: 50342.0391 - val_mae: 50342.0391
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 49299.4766 - mae: 49299.4766 - val_loss: 50342.6445 - val_mae: 50342.6445
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 49296.3750 - mae: 49296.3750 - val_loss: 50339.5898 - val_mae: 50339.5898
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 49293.6992 - mae: 49293.6992 - val_loss: 50349.0312 - val_mae: 50349.0312
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 49288.8320 - mae: 49288.8320 - val_loss: 50349.5078 - val_mae: 50349.5078

In [59]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [60]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 10015), started 13:27:53 ago. (Use '!kill 10015' to kill it.)

In [61]:
# evaluate the model 
test_loss , test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')customer

63/63 [==============================] - 0s 3ms/step - loss: 50349.5078 - mae: 50349.5078
Test MAE : 50349.5078125

In [62]:
# save the model
model.save('regression_model.h5')

/home/akshay/anaconda3/envs/churn_ann/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [63]:
input_data = pd.DataFrame({
    'CreditScore': [600],
    'Gender': [0],
    'Age': [40],
    'Tenure': [3],
    'Balance': [60000],
    'NumOfProducts': [2],
    'HasCrCard': [1],
    'IsActiveMember': [1],
    'Exited': [0],
    'Geography_France': [1],
    'Geography_Germany': [0],
    'Geography_Spain': [0]
})
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       0  ...                  0                0

[1 rows x 12 columns]

In [64]:
scaled_input_data = scaler.transform(input_data)
scaled_input_data

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.50857963,  1.00150113,
        -0.57946723, -0.57638802]])

In [67]:
prediction = model.predict(scaled_input_data)
prediction

1/1 [==============================] - 0s 27ms/step

array([[90987.53]], dtype=float32)

In [68]:
prediction_proba = prediction[0][0] 
print('customer salary is : ', prediction_proba)

customer salary is :  90987.53